/* Pour importer la police du site i.e Raleway */
/* validateur OK */

/*
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
*/

/* Déclaration des variables des couleurs (de la charte) */
:root {
    --couleur_bleu:         #0065FC;    /* charte couleur Bleu */
    --couleur_bleu_clair:   #DEEBFF;    /* charte bleu + clair */
    --couleur_gris:         #F2F2F2;    /* charte couleur Gris */
    --couleur_noir:         #000000;    /* couleurs Noir & Blanc : implicites de la charte */
    --couleur_blanc:        #FFFFFF;    

    --marge_ext_gauche:     50px;
}

main {
    margin: 0  var(--marge_ext_gauche); /* marges extérieures : 0 pour les côtés haut et bas ; 50px pour les côtés gauche et droit */
}

/* Pour tous les Liens <a>, supprimer la couleur bleu & le soulignement (par défaut) */
a {
    color:                inherit;
    text-decoration:         none; /* spécifier les décorations linéaires d'un mot eg. si le mot est souligné  */
}

/* NAV : Logo & 2 Liens ----------------------------------------------------------------------- */

/* Balise NAV du header */
.c_nav {
    padding-top: 50px;
    display: flex;             
    flex-direction: row;  /* pour que les élements de nav se placent par défaut côte à côte */
    justify-content: space-between; 
    flex-wrap: wrap;         /* les éléments vont à la ligne lorsqu'il n'y a plus la place */
}

.c_nav__div-2liens {
    display:flex; flex-direction: row;
    justify-content: space-between; 
    width: calc(1360px - 1120px); /* soit 240px; */ 
    margin: 10px; margin-right:80px;
}

/* placer le logo  */
.c_nav__img-logo-booki {
     margin-left:50px;
     /* on taille l'image */
     height: calc(90px - 40px); /* 50px; */
     width: calc(140px - 60px); /* 80px; */ 
 }

/* au survol des éléments <a> de "c_nav__div-2liens" */
.c_nav__div-2liens a:hover {
    border-top-color:    var(--couleur_bleu);  /* au survol, ligne Bleu au dessus du lien (cf. capture-écran de la maquette) */
    color:               var(--couleur_bleu);  /* au survol, ligne Bleu au niveau du lien */
    border-top: 2px solid var(--couleur_bleu);
}

/* Header ------------------------------------------------------------------------------------ */

header {
    margin-left:    var(--marge_ext_gauche);
    margin-top:     0px;  /* taille de la marge extérieure */
    padding:        0px; /* taille de la marge intérieure */

    display: flex; flex-direction:column;
    flex-wrap:wrap; /* retour à la ligne autorisée (cf. maquette mobile) */
    justify-content: space-between;
}

/* on met en forme le <h1> & le <p> du <header> */
header h1{
    font-size:    20px;
    margin-top:   25px;
}
  
header p {
    font-size:   15px;
    margin-top:  -5px;
}
  
/* le Formulaire & ses 3 éléments  ------------------------------------------------------------------- */
:root {
    --formulaire_hauteur:   50px;
    --formulaire_rayon:     10px;

    --rayon_article:        20px;
    --rayon_section:        20px;
  } 
  
form{
    height: var(--formulaire_hauteur); /* 50px  => height(Label, Input & Button) = 50 px */
    display: flex;
}
  
  /* Ses 3 éléments ------------------------------------------------------------- */

:root {
    --form__label-picto-local:10px;
}

  /* 1e élément : Picto de localisation --------------------------- */
  /* Un carré fond gris aux bords gauche haut & bas arrondis */
  .c_form__label-picto-local{
      background-color:         var(--couleur_gris); /* Fond en Gris */
      width:                    var(--formulaire_hauteur);                 
      border-top-left-radius:           var(--form__label-picto-local); /* 10px; */ /* radius gauche haut */
      border-bottom-left-radius:        var(--form__label-picto-local); /*10px; */ /* radius gauche bas */
      display:                          flex;
      justify-content:                center;  /* Pour que le picto se mette au centre sur l'axe X */
      align-items:                    center; /* Pour que le picto se mette au centre sur l'axe Y */
  }
  
  /* 2e élément : input-search ------------------------------------ */

  :root {
    --form__input-search_largeur: calc(340px - 110px); /* soit 230px; */
  }

  .c_form__input-search{
      border:            solid var(--couleur_gris);  /* Bordure en Gris */
      text-align:                             left;  /* Texte à gauche */
      font-weight:                            bold;  /* Texte mis en gras */
      width: var(--form__input-search_largeur);
  }
  
  /* 3e élément : Button "rechercher" ------------------------------ */
  /* aux Bords à droite haut & bas arrondis */
  :root {
    --form__button-rechercher_largeur: calc(470px - 340px); /* soit 130px; */
  }

  .c_form__button-rechercher{
      background-color:              var(--couleur_bleu); /* Fond en Bleu */
      color:                        var(--couleur_blanc); /* Texte en Blanc */
      border:                          none;
      border-top-right-radius:       var(--formulaire_rayon); /* radius à droite haut */
      border-bottom-right-radius:    var(--formulaire_rayon); /* radius à droite bas */
      font-weight:                     bold; /* pour mettre en gras */ 
      width:  var(--form__button-rechercher_largeur);
  }
  
/* Section "Filtres" & ses 4 Filtres  ------------------------------------------------------------------------- */
  
.c_section-filtre {
    display: flex;
    flex-wrap:wrap; /* ses éléments peuvent être affichés sur plusieurs lignes (cf. maquette mobile) */
    align-items: center;

    margin-top:  20px; /* à placer en marge haute par rapport au Formulaire */
}

.c_section-filtre h2 {
    font-size: 18px;
    font-weight: bold;
}

:root {
    --section-filtre__ul_gap: calc(365px - 340px);  /* soit 25px : espace entre ses éléments-enfants Rectangle (<li>) */
    --section-filtre__li_radius: 25px;
} 

.c_section-filtre ul {
    display: flex;
    flex-wrap: wrap; 
    gap: var(--section-filtre__ul_gap);  /* soit 25px : espace entre ses éléments-enfants Rectangle (<li>) */
}

/* on fait le Rectangle gris (avec sa courbure) */
.c_section-filtre li {
    display: flex;
    align-items: center;
    
    border: 4px solid var(--couleur_gris); /* bordure */
    border-radius: var(--section-filtre__li_radius); /* courbure du rectangle */
}


:root {
    --section-filtre__li--cercle-bleu_rayon: calc(330px - 280px); /* 50px; */
} 

/* on fait le cercle bleu-clair */
.c_section-filtre__li--cercle-bleu {
    width:  var(--section-filtre__li--cercle-bleu_rayon);  
    height: var(--section-filtre__li--cercle-bleu_rayon);
    border-radius: 50%;
    background-color: var(--couleur_bleu_clair);

    text-align: center;
    line-height: 3; /* facteur multiplicateur de la taille de la police appliquée à l'élément Picto */
    margin-left:-10px; /* décaler à gauche le cercle (de 10px) par rapport à son frère "rectangle" */
}

.c_section-filtre span {    
    font-size: 17px; font-weight: bold;
    padding-left:20px; padding-right:20px; /* on étend les marges */
}

/* Mettre les 4 picto en Bleu */
.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog {
     color:    var(--couleur_bleu);
}

/* au survol des 4 filtres, changement d'apparence  */
.c_section-filtre li:hover {
    /* Choix arbitraire : pas présicé dans les Specs */
    background-color: var(--couleur_gris);  /* le fond passe en Gris  */
    color: var(--couleur_bleu);             /* Le texte passe en Bleu */
}

/* Informations ------------------------------------------------------------ */

.c_div-infos {
    display:        flex;
    align-items:    center;
}

.c_div-infos--placer {
    margin-left:    0px; 
    margin-top:     10px;
    margin-bottom:  10px;
}

/* Pour le Picto du Paragraphe d'info : plus de 500 logements sont dispo */
/*
.c_div-infos .fas{
    font-size:          10px;
    color:              var(--couleur_bleu);  
}
*/

.c_div-infos__i--bleu {
    color: var(--couleur_bleu);    /* Picto en Bleu */
}

.c_div-infos__i--taille {
    font-size: 10px;
}

:root {
    --div-infos__i--cercle-gris_rayon: calc(385px - 365px); /* soit 20px */
}

/* Faire un cercle gris de rayon 20px, avec placement au centre du picto  */
.c_div-infos__i--cercle-gris {
    display:            flex;
    align-items:        center; /* pour centrer le picto */
    justify-content:    center;
    border-radius:      50%;    /* cercle */
    /* rayon du cercle */
    width:             var(--div-infos__i--cercle-gris_rayon);
    height:            var(--div-infos__i--cercle-gris_rayon); 
    border:             3px solid var(--couleur_gris);  /* Bordure du Picto en Gris */
}

/* Pour <p>, on ajuste font-size & on le place par rapport au picto */
/*
.c_div-infos p {
    font-size: 16px;
    margin-left: 10px;
}*/

.c_div-infos__p--taille {
    font-size: 16px;
} 

.c_div-infos__p--placer {
    margin-left: 10px;
}


/* <section> HEBERGEMENTS -------------------------------------------------------------------------------------- */

:root {
    --section-hebergements_largeur: calc(930px - 50px); /* 880px */

    /* calculer le gap (entre les sections "hébergements & "populaires") */
    --section-hebergements_gap: calc(970px - 930px); /* 40px */

    --section-hebergements_radius : 20px;
    --section-hebergements_margin-top : calc(425px - 385px); /* 40px; */
}

.c_section-hebergements {
    margin-top: var(--section-hebergements_margin-top);
    display: flex; flex-direction: row;
    gap: var(--section-hebergements_gap);
}

/* Calculer les marges internes */
:root {
    --hebergements_padding-haut:    calc(475px - 430px); /* 35px */
    --hebergements_padding-droit:   calc(930px - 890px); /* 40px */
    --hebergements_padding-bas: 0px;
    --hebergements_padding-gauche:  calc(90px - 50px);  /* 40px */
}

/* Pour la section "hébergement" : 
    - on met le fond en gris
    - on arrondit les 4 angles
    - on définit les marges internes
*/
.c_section-hebergements__div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    background-color: var(--couleur_gris);
    border-radius: var(--section-hebergements_radius); width: var(--section-hebergements_largeur);

   /* haut | droit | bas | gauche */
   padding: var(--hebergements_padding-haut) var(--hebergements_padding-droit) 0px var(--hebergements_padding-gauche);
}

/* On taille le <h2> */
.c_section-hebergements__div h2 {
    font-size: 25px;
}

/* On calcule le gap (horizontal & vertical) entre les articles */
:root {
    --hebergements_article_gap : calc(367px - 337px); /* 30px */
}

/* On définit le gap entre les articles */
.c_section-hebergements__div2 {
    /* background:green; */
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: var(--hebergements_article_gap);
 
    padding-top: var(--hebergements_article_gap);
    padding-bottom: 60px; 
}

/* On calcule la Hauteur & la Largeur (en px) d'un article
   On calcule la Hauteur & la Largeur (en px) d'une image
   On définit le radius d'un article & d'une image  
*/
:root {
    --section-hebergements__article_hauteur: calc(717px - 517px);       /* 200px */
    --section-hebergements__article_largeur: calc(335px - 90px);        /* 245px */

    --section-hebergements__article__img_hauteur: calc(635px - 525px);  /* 110px */
    --section-hebergements__article__img_largeur: calc(330px - 95px);   /* 235px */

    --section-hebergements__article_radius: 20px;
    --section-hebergements__img_radius: 20px;
}

/* Pour chaque article, 
    - on taille sa hauteur & sa largeur
    - on met le fond en blanc
    - on arrondit les 4 angles
    - on crée une bordure en blanc
*/
.c_section-hebergements__article {
    width: var(--section-hebergements__article_largeur);
    height: var(--section-hebergements__article_hauteur);

    background-color: var(--couleur_blanc);
   
    border-radius: var(--section-hebergements__article_radius);
    border: 4px solid var(--couleur_blanc);
    line-height: 1.5;
}

/* Pour chaque image :
    - on taille la largeur (100% de la largeur de l'article)
    - on taille la hauteur
    - on arrondit les 2 angles du haut
*/
.c_section-hebergements__article img {
    width: 100%;
    height: var(--section-hebergements__article__img_hauteur); /* 110px; */
    border-radius: var(--section-hebergements__img_radius) var(--section-hebergements__img_radius) 0 0;
}

/* Pour la description, on décale à gauche de 10px */
.c_section-hebergements__div-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10px;
}

/* Pour chaque <h3> : tailler la police & décaler vers le haut */
.c_section-hebergements__div-description h3 {
    font-size: 16px; font-weight: bold;
    margin-top: -5px;
}

/* Pour chaque <p> : tailler la police & décaler vers le haut */
.c_section-hebergements__div-description p {
    font-size: 14px;
    margin-top: -15px;
}

/* Pour la balise <a> ("Afficher plus") : mettre en forme (taille de la police & gras) */
.c_section-hebergements__a-afficher-plus {
    font-size: 18px; font-weight: bold;
}

/*
.c_bleu {
    color:var(--couleur_bleu);
    font-size: 12px;
}
*/

/* Couleurs & Forme (star) pour le picto évaluation */
:root {
    --picto-evaluation-couleur-ok: var(--couleur_bleu);    /* bien notée */
    --picto-evaluation-couleur-ko: var(--couleur_gris);    /* mal notée */     
    --picto-evaluation-symbole:      "\f005";                /* etoile */
    /* --picto-evaluation-symbole:      "\f004";  */         /* coeur */
}

.c_picto-evaluation--couleur-ok {
    color:var(--picto-evaluation-couleur-ok);
}

.c_picto-evaluation--couleur-ko {
    color:var(--picto-evaluation-couleur-ko);
}

/* Pour la section "hebergement" : mettre les pictos d'évaluation dans un symbole donné (eg. étoile) */
.c_section-hebergements .fa-star::before {
    content: var(--picto-evaluation-symbole);
}

/* Pour la section "populaire" : mettre les pictos d'évaluation dans un symbole donné (eg. étoile) */ 
 .c_section-hebergements-populaires .fa-star::before {
    content: var(--picto-evaluation-symbole);
}

.c_section-hebergements__div-evaluation {
    display: flex;
    /* padding-top: 5px; */
    margin-top:-5px;
}

/* Tailler les pictos d'evaluation */
.c_section-hebergements__div-evaluation .fas {
    font-size: 12px;
}

/* <section> Hébergements Populaires ------------------------------------------------------------------------------------- */

:root {
    /* largeur de la section */
    --section-hebergements-populaires_largeur: calc(1390px - 970px);                /* 420px */
    /* largeur & hauteur d'un article */
    --section-hebergements-populaires__article_largeur: calc(1350px - 1005px);      /* 345px */
    --section-hebergements-populaires__article_hauteur: calc(665px - 520px);        /* 145px */
    /* Largeur & hauteur d'une image */
    --section-hebergements-populaires__article__img_largeur: calc(1140px - 1010px); /* 130 px */
    --section-hebergements-populaires__article__img_hauteur: calc(660px - 525px);   /* 135px */

    /* Radius */
    --section-hebergements-populaires_radius: 20px;
    --section-hebergements-populaires__article_radius: 20px;
    --section-hebergements-populaires__article_img_radius: 15px;
}

/* Calculer les marges internes */
:root {
    --populaires_padding-haut: calc(475px - 430px);     /* 35px */
    --populaires_padding-droit: calc(1385px - 1350px);  /* 35px */
    --populaires_padding-bas: 0px;
    --populaires_padding-gauche: calc(1005px - 970px);  /* 35px */
}

/* Pour la section "populaire" :
    - tailler la largeur
    - mettre le fond en gris
    - arrondir les 4 angles
    - définir les marges internes
*/
.c_section-hebergements-populaires {
    display: flex;
    flex-direction: column;
    
    width: var(--section-hebergements-populaires_largeur);
 
    background-color: var(--couleur_gris);
    border-radius: var(--section-hebergements-populaires_radius); /* 20px; */

    /* haut | droit | bas | gauche */
    padding: var(--populaires_padding-haut) var(--populaires_padding-droit) 0px var(--populaires_padding-gauche);
}

/* Pour <h2> : tailler la largeur (largeur de l'article) & la police */
.c_section-hebergements-populaires h2 {
    display: flex; justify-content: space-between;
    width: var(--section-hebergements-populaires__article_largeur);
    font-size: 25px;
}

/* Mettre le picto associé au titre "Les plus populaires" en noir */
.c_picto--couleur-noir { color: var(--couleur_noir);  }

:root {
    --populaires_row-gap: calc(695px - 665px); /* 30px */
}

/* Pour les articles :
    - Tailler la largeur 
    - Définir le row-gap
*/
.c_section-hebergements-populaires__div {
    display: flex;
    flex-direction: column;
    padding-top: 30px; /* background-color:green; */
    width: var(--section-hebergements-populaires__article_largeur);
    row-gap: var(--populaires_row-gap);
}

/* Pour chaque article :
    - tailler la hauteur
    - mettre le fond en blanc
    - mettre une bordure en blanc
    - arrondir les 4 angles
*/
.c_section-hebergements-populaires__article {
    height: var(--section-hebergements-populaires__article_hauteur);

    background-color: var(--couleur_blanc);
    border: 5px solid var(--couleur_blanc);
    border-radius: var(--section-hebergements-populaires__article_radius); /* 20px; */
    margin-bottom:25px; 
}

/* Pour les <a> (i.e. enfants de chaque article) : disposer ses enfants en ligne */
.c_section-hebergements-populaires__article a {
    display: flex; flex-direction: row;
    height: 100%;
}

/* Pour chaque <img> :
    - tailler la largeur
    - arrondir les 2 angles (haut & bas ; gauche)
*/
.c_section-hebergements-populaires__article img {
    width: var(--section-hebergements-populaires__article__img_largeur);
    border-radius: var(--section-hebergements-populaires__article_img_radius) 0 0 var(--section-hebergements-populaires__article_img_radius);
}

/* Pour les descriptions : disposer ses enfants en colonne
*/
.c_section-hebergements-populaires__div-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px; 
}

/* Pour chaque <h3> : tailler la font & remonter de 5 px */
.c_section-hebergements-populaires__div-description h3 {
    font-size: 16px; font-weight: bold;
    margin-top: -5px;
}

/* Pour chaque <p> : tailler la font & remonter de 15 px */
.c_section-hebergements-populaires__div-description p {
    font-size: 14px;
    margin-top:-15px;
}

/* Pour chaque picto : tailler la font & remonter de 15 px */
.c_section-hebergements-populaires__div-evaluation .fas {
    font-size: 10px;
    margin-top:-15px;
}


/* Section ACTIVITES ------------------------------------------------------------------------------------- */
.c_section-activites {
    padding-top: 50px;
}

.c_section-activites__div {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;  
   margin-top: 30px;
}

.c_section-activites__article-duo {
   display: flex;
   flex-direction: column;
   justify-content: space-between;    
}

/* TAILLE (Largeur & Hauteur) des ARTICLES & IMAGES -------------------------------------------------- */
/* on calcule la largeur (en px) des 6 articles */
:root {
    --section-activites__article_largeur: calc(350px - 50px); /* 300px */
}

/* on taille la largeur (en px) des 6 articles */
.c_section-activites__article-solo,
.c_section-activites__article-duo { 
    width: var(--section-activites__article_largeur); 
}

/* on calcule la largeur (en px) des 6 images */
:root {
    --section-activites__img_largeur: var(--section-activites__article_largeur); /* 300px */
}

/* on taille la largeur (en px) des 6 images */
.c_section-activites__div img {
    width: var(--section-activites__img_largeur);
}

/* on calcule la hauteur (en px) des 6 images */
:root {
    --section-activites__article-solo_img_hauteur: calc(1552px - 1162px); /* 390px; */
    --section-activites__article-duo1_img_hauteur: calc(1342px - 1162px); /* 180px; */
    --section-activites__article-duo2_img_hauteur: calc(1550px - 1440px); /* 110px; */
    --section-activites__article-duo3_img_hauteur: calc(1300px - 1160px); /* 140px; */
    --section-activites__article-duo4_img_hauteur: calc(1550px - 1395px); /* 155px; */
}

/* on taille la hauteur (en px) des 6 images */
.c_section-activites__article-solo img {
   height: var(--section-activites__article-solo_img_hauteur);
}

.c_section-activites__article-duo1 img{  
   height: var(--section-activites__article-duo1_img_hauteur);
}

.c_section-activites__article-duo2 img{
   height: var(--section-activites__article-duo2_img_hauteur);
}

.c_section-activites__article-duo3 img{
   height: var(--section-activites__article-duo3_img_hauteur);
}

.c_section-activites__article-duo4 img{
   height: var(--section-activites__article-duo4_img_hauteur);
}

/* RADIUS & OMBRE grise -------------------------------------------------- */
:root {
    --activite_radius: 25px;
}
 
/* Pour les 6 articles :
    - arrondir les 4 angles (haut & bas ; gauche & droite)
    - mettre 1 ombre grise
*/
.c_section-activites__article-solo,
.c_section-activites__article-duo1,
.c_section-activites__article-duo2,
.c_section-activites__article-duo3,
.c_section-activites__article-duo4 {
    border-radius: var(--activite_radius);
    box-shadow: 10px 10px 20px var(--couleur_gris); /* décalage x (de l'ombre); décalage y (de l'ombre); épaisseur de l'ombre */
}
 
/* Pour chaque image : arrondir les angles haut (gauche & droite) */
.c_section-activites__div img {
    border-radius: var(--activite_radius) var(--activite_radius) 0px 0px;
 }
 
/* Pour les titres <h2> & <h3> : tailler la font -------------------------------------------------- */
.c_section-activites h2 {
    font-size: 18px;
}

/* Pour les <h3> : tailler la font & mettre marge gauche à 10 px */
.c_section-activites__div h3 {
     font-size: 16px; font-weight: bold;
     padding-left: 10px;
 }


/* Footer ----------------------------------------------------------------------------------------------------------------------------- */

footer{    
    margin-top:          calc(1670px - 1600px);       /* marge extérieure Haut */
    margin-left:         0px;
    padding-top:         40px;                         /* marge intérieure haut */

    height:              calc(1880px - 1670px);

    display:             flex;
    flex-direction:      row;            /* par défaut */
    flex-wrap:           nowrap;         /* retour à la ligne NON autorisé */
    justify-content:     flex-start;     /* ses 3 enfants sont placés au début */

    background-color:    var(--couleur_gris); /* Fond gris */
}

/* Ses 3 enfants ------------------------------------ */
.c_footer__div-a-propos {
    margin-left: var(--marge_ext_gauche); 
    display: flex;
    flex-direction: column; justify-content: flex-start;
}

.c_footer__div-nos-hebergements {    
    margin-left: calc(500px - 280px);
    display: flex;
    flex-direction: column; justify-content: flex-start;
}

.c_footer__div-assistance {   
    margin-left: calc(960px - 660px);
    display: flex;
    flex-direction: column; justify-content:flex-start;
}

/* On met en forme <h2>, <li>, & <adress> ------ */
footer h2 {
    font-size: 18px;
}

footer li {
    font-size: 16px; 
    list-style: none;  /* on supprime les puces */
    margin-left:-40px; /* on supprime le décalage */
}

/* Pour la balise <address> "Nous contacter" : passage d'italic (par défaut) à normal */
.c_adress-nous-contacter {
    font-style:normal;
 }

/* Au survol des éléments <a> du <footer> ------ */
footer a:hover {
    border-top-color:   transparent;            /*  Pas de ligne Bleu au dessus du lien */
    color:              var(--couleur_bleu);    /* ligne Bleu au niveau du lien */
}
